In [1]:
import pandas as pd

In [4]:
df=pd.read_csv("dummydata.csv",sep=';')

In [5]:
df

,country,area,birth_rate,current_account_balance,death_rate,debt,e_consumption,e_production,Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,Afghanistan,647500,47.02,NaN,20.75,8.000000e+09,6.522000e+08,5.400000e+08,4.460000e+08,2.150000e+10,...,0.0,0.000000e+00,29928987.0,NaN,NaN,NaN,33100.0,15000.0,6.75,NaN
1,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,28748,15.08,-5.040000e+08,5.12,1.410000e+09,6.760000e+09,5.680000e+09,5.524000e+08,1.746000e+10,...,2000.0,1.855000e+08,3563112.0,NaN,447.0,1.206000e+09,255000.0,1100000.0,2.04,14.8
3,Algeria,2381740,17.13,1.190000e+10,4.60,2.190000e+10,2.361000e+10,2.576000e+10,3.216000e+10,2.123000e+11,...,1200000.0,1.187000e+10,32531853.0,37.4,3973.0,4.355000e+10,2199600.0,1447310.0,1.92,25.4
4,American Samoa,199,23.13,NaN,3.33,NaN,1.209000e+08,1.300000e+08,3.000000e+07,5.000000e+08,...,0.0,NaN,57881.0,NaN,NaN,NaN,15000.0,2377.0,3.25,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,West Bank,5860,32.37,NaN,3.99,1.080000e+08,NaN,NaN,2.050000e+08,1.800000e+09,...,NaN,NaN,2385615.0,NaN,NaN,NaN,301600.0,480000.0,4.40,27.2
259,Western Sahara,266000,NaN,NaN,NaN,NaN,8.370000e+07,9.000000e+07,NaN,NaN,...,0.0,NaN,273008.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN
260,Yemen,527970,43.07,3.699000e+08,8.53,5.400000e+09,2.827000e+09,3.040000e+09,4.468000e+09,1.625000e+10,...,417500.0,4.000000e+09,20727063.0,46.4,NaN,5.300000e+09,542200.0,411100.0,6.67,35.0
261,Zambia,752614,41.38,-1.814000e+08,20.23,5.353000e+09,5.345000e+09,8.167000e+09,1.548000e+09,9.409000e+09,...,0.0,NaN,11261795.0,127.5,2173.0,3.450000e+08,88400.0,241000.0,5.47,50.0
262,Zimbabwe,390580,29.74,-2.303000e+08,24.66,4.086000e+09,1.122000e+10,8.839000e+09,1.409000e+09,2.437000e+10,...,0.0,NaN,12746990.0,52.3,3077.0,5.700000e+07,300900.0,379100.0,3.54,70.0

In [7]:
df.shape

(263, 45)

In [27]:
columns_count=df.shape[1]

0       647500
1          123
2        28748
3      2381740
4          199
        ...
258       5860
259     266000
260     527970
261     752614
262     390580
Name: area, Length: 263, dtype: int64

In [46]:
j=0
new_df=[]
for count in range(0,columns_count,9):
        new_df=df.iloc[:,count:count+9]
        new_df.to_csv(str(j)+'.csv', sep=',',index=False)
        j+=1