In [1]:
import pandas as pd
import numpy as np

In [22]:
# Creating a data frame with million rows and 14 columns
df = pd.DataFrame(data=np.random.randint(99999, 99999999, size=(10000000,14)),columns=['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14'])

In [23]:
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,38469718,73098110,75286737,54431645,55754888,61401525,38307925,91266665,38493672,32627154,93778024,4963057,81793148,75248269
1,43992647,21353944,36516311,70896807,48574867,45313785,79104167,1632229,59967964,52304182,66440456,44679914,33554927,38070121
2,78836923,48644164,14013448,69418393,53875025,55538563,77995387,29410165,14291888,35765823,17785298,69501909,83830057,92914098
3,5843011,70972477,27955747,50997457,90075257,47050899,76830993,91294930,66269691,38353602,6777676,24921959,6204846,26596738
4,75100301,91798923,14289347,18427271,82383488,88168915,63151601,38493388,34264777,8667230,93225546,36622451,8723692,65829800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,2618267,95961102,44901313,42856092,93378782,17537455,47660748,78108187,41965550,3205469,56008712,15897318,30745719,56269114
9999996,25785869,71443703,27383115,65491559,85118141,2260220,73778449,59944548,34043495,67890965,25871910,9376028,41732009,14823368
9999997,4079569,30307749,34549332,21397197,96997441,51650181,97889169,38220222,27533250,1061769,58606474,91032082,65873415,11739054
9999998,79071270,90377743,38732830,62652728,49998445,80318445,87737773,38898279,95358639,37967879,48912769,49983990,84259415,55176991
9999999,90869730,86347055,55808687,91599359,33133044,91939036,3850636,22700861,58644425,73279306,94134337,33796255,35513253,21584459

In [27]:
df.to_csv("huge_data.csv")

In [28]:
import time
start = time.time()

In [29]:
start = time.time()
df = pd.read_csv('huge_data.csv')
end = time.time()
print("Read csv without chunks: ",(end-start),"sec")

Read csv without chunks:  16.746574878692627 sec